.tabs{
  max-width:100%;
  width: 875px;
  height: 2em;
  ul.primary{
    border-color: $primary-grey;
    border-color: $primary-grey-trans;
    padding: .3em 0;
    li{
      a{
        padding: .3em 1em;
        border-radius: 2px 2px 0px 0px;
        border: 1px solid $primary-grey;
        background: $primary-grey;
        background: $primary-grey-trans;
        color: #fff;
        }
      a.active{
        background: $spot;
        }
      }
    }
  }
  
#messages{
  float: left;
  width: 100%;
  margin-bottom: 1em;
  }