$primary-blue: #0d5089;
$accent-blue:  #1091ff;
$text:         #cde6fb;

$light: #f3f3f3;
$light-trans: rgba(243,243,243,.2);

$primary-grey: #3f3f3f;
$primary-grey-trans: rgba(63,63,63,.7);

$primary-light: #fff;
$primary-light-trans: rgba(255,255,255,.75);

$spot:         #c93e3e;
$spot-light:   #fe7575;

$links: #f3f3f3;