#grid{
  .grid.block{
    float: left;
    height: 105px;
    overflow: hidden;
    width: 160px;
    background: $accent-blue;
    .grid-block-inner{
/*       border: 1px solid #fff;     */
      }
    img{
      width: 100%;  
      }
    div{
      padding: .5em;
      h4{
        text-transform: uppercase;
        font-size: .7em;
        text-align: left;
        }
      p{
        margin: 1em 0;
        text-align: left;
        }
      }
    }
  }