body{
  background: $primary-blue;
  background: $primary-blue url('../images/back.jpg') no-repeat top center;
  }
  
#main-content{
  width: 875px;
  #content-wrapper{
    padding: 1em;
    float: left;
    }
}
  
#top-bar{
  position: absolute;
  top: 0;
  z-index: 10;
  width: 100%;
  background: $primary-grey;
  background: $primary-grey-trans;
  padding: .3em 0;
  font-size: .8em;
  ul{
    padding: 0 0 0 1em;
    li{
      display: inline;
      }
    }
  }
  
#site-wrapper{
  max-width: 1200px;
  margin:0 auto;
  margin-top: 2em;
  }