body{
  background: $primary-blue;
  background: $primary-blue url('../images/back.jpg') no-repeat top center;
  }
  
#main-content{
  width: 875px;
  #content-wrapper, #tab-pages{
    padding: 0 1em;
    float: left;
    }
}
  
#top-bar{
  top: 0;
  z-index: 10;
  width: 100%;
  background: $primary-grey;
  background: $primary-grey-trans;
  font-size: .8em;
  ul{
    padding-left: 1em;
    li{
      display: inline-block;
      border: 1px solid $light-trans;
      border-width: 0 1px 0 0;
      a{
        display: block;
        padding: .3em 1em;
        height: 100%;
        }
      }
    }
  }
  
#site-wrapper{
  max-width: 1200px;
  margin:0 auto;
  margin-top: 1em;
  
  }