body{
  background: $primary-blue;
  background: $primary-blue url('../images/back.jpg') no-repeat top center;
  }
  
@media (min-width: 0){  
  #main-content{
    width: 100%;
    #content-wrapper, #tab-pages{
      padding: 0 2.5%;
      float: left;
      width: 95%%;
      }
  }
  
  .tryptic{
      float: left;
      width: 100%;
      padding: 1em 0 0 0;
      margin: 1em 0 0 0;
      border-top: 1px solid $primary-light;
      border-top: 1px solid $primary-light-trans;
      .container{
          width: 33%;
          float: left;
          .block{
              padding: 0 1em;
          }
      }
  }
}

@media (min-width: 960px){
  #main-content{
    width: 875px;
    #content-wrapper, #tab-pages{
      padding: 0 1em;
      width: 658px;
      }
    }
}

@media (min-width: 1200px){
  #main-content{
    #content-wrapper, #tab-pages{
      width: 848px;
      }
  }
}
  
#top-bar{
  top: 0;
  z-index: 10;
  width: 100%;
  background: $primary-grey;
  background: $primary-grey-trans;
  font-size: .8em;
  text-align: right;
  ul{
    padding-left: 1em;
    li{
      display: inline-block;
      border: 1px solid $light-trans;
      border-width: 0 1px 0 0;
      a{
        display: block;
        padding: .3em 1em;
        height: 100%;
        font-size: 1.2em;
        margin-bottom: 1em;
        }
      }
    }
  }  
  
@media (min-width: 960px){
  #top-bar{
    text-align: left;
    ul{
      li{
        a{
          font-size: 1em;
          margin-bottom: 0;
          }
        }
      }
    }
  
  #site-wrapper{
    max-width: 960px;
    margin:0 auto;
    margin-top: 1em;
    }
  }

@media (min-width: 1200px){
  #site-wrapper{
    max-width: 1200px;
    }
}