#right-bar{
  background: $primary-grey;
  background: $primary-grey-trans;
  width: 320px;
  float: right;
  margin-top: -1em;
  text-align: center;
  padding: 2em 0;
  #logo{
    padding: 0 0 2em 0;
    border-bottom: 1px solid #fff;
    border-bottom: 1px solid rgba(255,255,255,.2);
    }
  #menu-container{
    padding: 1em;
    border-bottom: 1px solid #fff;
    border-bottom: 1px solid rgba(255,255,255,.2);  
      ul{
        list-style-type: none;
        li{
          list-style: none;
          }
        }      
    }
  }